.droplet-values {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.droplet-values > div {
   display: flex;
}
.droplet-values h2 {
    margin: 0 -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
}
.droplet-value-content {
    padding-left: 10px;
}
.droplet-value-trust, .droplet-value-discipline, .droplet-value-longevity {
    min-height: 200px;
    position: relative;
    width: 40%;
}
.droplet-value-trust {
    background: url('../../images/Droplet-Banner-01.jpg') no-repeat;
    background-size: cover;
        background-size: cover;
    background-position: 85%;
}
.droplet-value-discipline {
    background: url('../../images/Droplet-Banner-02.jpg') no-repeat;
    background-size: cover;
        background-size: cover;
    background-position: 85%;
}
.droplet-value-longevity {
     background: url('../../images/Droplet-Banner-03.jpg') no-repeat;
    background-size: cover;
}
.droplet-value-trust:after, .droplet-value-discipline:after, .droplet-value-longevity:after {
    content: '';
    position: absolute;
    background-color: #ccc;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.droplet-value-trust > div, .droplet-value-discipline > div, .droplet-value-longevity > div  {
    padding: 10px 15px; 
    color: #fff;
    line-height: 21px;
    font-style: italic;
    font-weight: 600;
}
@media all and (max-width: 767px){
    .droplet-values {
        flex-direction: column;
        margin: 0;
    }
    .droplet-values > div {
        width: 100%;
        margin: 0 0 10px 0;
    }
}