.droplet-values {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.droplet-values > div {
   display: flex;
       background: #f2f2f2;
    margin-bottom: 12px;
}
.droplet-values > div:last-child {
    margin-bottom: 0;
}
.droplet-values h2 {
    margin: 0 -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
}
.droplet-value-content {
    padding-left: 15px;
    width: 60%;
}
.droplet-value-trust, .droplet-value-discipline, .droplet-value-longevity {
    min-height: 200px;
    position: relative;
    width: 40%;
}
.droplet-value-trust {
    background: url('../../images/Droplet-Banner-01.jpg') no-repeat;
    background-size: cover;
        background-size: cover;
    background-position: 85%;
}
.droplet-value-discipline {
    background: url('../../images/Droplet-Banner-02.jpg') no-repeat;
    background-size: cover;
        background-size: cover;
    background-position: 85%;
}
.droplet-value-longevity {
     background: url('../../images/Droplet-Banner-03.jpg') no-repeat;
    background-size: cover;
}
.droplet-value-trust:after, .droplet-value-discipline:after, .droplet-value-longevity:after {
    content: '';
    position: absolute;
    background-color: #ccc;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.droplet-value-trust > div, .droplet-value-discipline > div, .droplet-value-longevity > div  {
    padding: 10px 15px; 
    color: #fff;
    line-height: 21px;
    font-style: italic;
    font-weight: 600;
}
@media all and (max-width: 767px){
    .droplet-values {
        flex-direction: column;
        margin: 0;
    }
    .droplet-values > div {
        width: 100%;
        margin: 0 0 10px 0;
    }
}
.team-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 35px;
}
.team-wrap p {
    padding: 0 20px;
}
.team {
        background: #ddd;
    width: 150px;
    height: 150px;
    border-radius: 150px; 
    position: relative;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.team-wrap-inner {
    /* width: 25%; */
    margin: 20px 0;
    padding: 0 25px;
    text-align: center;
}
.team-wrap-inner.selected {
    background: gold;
    padding: 15px 15px 0 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.team:after {
    content: '';
    background: url('/images/team/daram.JPG') no-repeat;
    position: absolute;
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    visibility: hidden;
    border-radius: 140px;
    border: 2px solid gold;
    background-size: cover;
    font-weight: bold;
}
[data-name="S"]:after{
background: url('/images/team/Saravanan.jpg') no-repeat;
background-size: cover;
}
[data-name="Dinesh"]:after {
    background: url('/images/team/Dinesh.jpg') no-repeat;
background-size: cover;
}
[data-name="Raj"]:after {
    background: url('/images/team/Rajkumar.jpg') no-repeat;
background-size: cover;
}
.member-name {
    text-align: center;
    font-weight: bold;
    margin: 15px 0 5px 0;
    font-size: 20px;
    color: #dc2214;
}
.member-role {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.team-profile {
    background: gold;
}
.profile-description {
    display: none;
    padding: 15px;
    opacity: 0;
}
.profile-description.fade-in {
    display: block;
    opacity: 1;
    transition: opacity .5s;
}
.testimonial-bg {
    background: #f2f2f2;
}
.client-review {
    position: relative;
    padding:0 15px 0 25px;
}
.client-review:before {
    content:'';
    background: url('../../images/quotes-left.png') no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top:-13px;
    left: 3px;
    opacity: 0.2;
    background-size: contain;
}
.client-name {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
@media all and (max-width: 1024px ) and (orientation: portrait) {
    .droplet-values > div {
        flex-direction: column;
    }
    .droplet-value-trust, .droplet-value-discipline,  .droplet-value-longevity{
        width: 100%;
    }
    .droplet-value-content {width: auto;}
 .alice-carousel__next-btn-wrapper ,  .alice-carousel__prev-btn-wrapper {
display: none;
}
}
@media all and (max-width: 1024px) and (orientation: landscape) {
    
.team-wrap-inner {
    /* width: 50%; */
}
.droplet-value-content { width: 100%;}
}
.member-tagline {
    min-height: 35px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.droplet-team.fadeIn .team:after {
    width: 160px;
    height: 160px;
    visibility: visible;
    transition: width 1.5s, height 1.5s;
}
.alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active {
    background-color: #333 !important;
}
.alice-carousel__next-btn-wrapper ,  .alice-carousel__prev-btn-wrapper {
position: absolute;
top: calc(50% - 16px);
}
.alice-carousel__next-btn-wrapper {
    right: -25px;
    content: "\ea5d";
}
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item { 
    margin: 0;
}
.alice-carousel__prev-btn [data-area]::after, .alice-carousel__next-btn [data-area]::after {
font-family: "IcoFont";
font-size: 30px;
background: #ddd;
border-radius: 20px;
color: #333;
}
.alice-carousel__next-btn [data-area]:after {
    content: "\ea5d" !important;
    
}
.alice-carousel__prev-btn-wrapper {
    left: -15px;
}
.alice-carousel__prev-btn [data-area]:after {
    content: "\ea5c" !important;
    font-family: "IcoFont";
}
.alice-carousel__stage-item {
padding-top: 10px;
}