.blogs-wrap img, .blogs-wrap img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	margin-bottom: 15px;
}
.blogs-wrap h2 {
	margin-top: 0;
	margin-bottom: 5px;
}
.blogs-wrap h6 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 12px;
	color: #ccc;
}
.blogs-wrap h4 {
	color: green;
}
.blogs-wrap ul {
	margin: 0 0 0 15px;
	padding: 0;
}
.blogs-wrap ul li {
	padding: 5px 0;
}
.realty-articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}
.img-center {
	display: block;
	margin: 0 auto;
}
.img-center:hover {
	transform: scale(1.2);
	transition: transform .5s;
}
.realty-toi1 {
	background: url('../../images/blogs/TOI1.png') no-repeat;
	width: 300px;
	height: 300px;
	background-size: contain;
}
.realty-toi1:hover {
	transform: scale(1.5);
	transition: transform .5s;
}

.realty-toi2 {
	background: url('../../images/blogs/TOI2.jpg') no-repeat;
	width: 300px;
	height: 300px;
	background-size: contain;
}
.realty-toi2:hover {
	transform: scale(1.5);
	transition: transform .5s;
}
img.blog-info-img {
	width: 300px !important;
}
.blog-list {
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	padding: 15px;
	margin-bottom: 10px;
	clear: both;
	height:auto;
	overflow: hidden;
}
.blog-list img {
	width: 15%;
	height: auto;
	float: left;
}
.blog-description-wrap {
float:left;
	margin:0 0 5px 15px;
	width: calc(80% - 15px);
}
.blog-description {
	
	border-bottom: 1px solid #ccc;
}
.blog-description h3 {
	margin-top: 0;
}
.blog-description a {
	font-weight: bold;
	margin-left: 5px;
	display: inline-block;
	text-decoration: none;
}
.blog-otherInfo {
	color: #444;
	font-size: 11px;
	margin: 5px 0 0 0;
}