

.pagination {
	display: flex;
	justify-content: flex-end;
	padding: 0;
}
ul.pagination li {
    display: inline-block;
    cursor: pointer;
    background: #ccc;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin: 0 5px;
}
ul.pagination li a {
	display: block;
}
ul.pagination li:first-child {
	margin-right: 10px;
	margin-left: 0;
}
ul.pagination li.active {
	background: gold;
}
ul.pagination li.previous, ul.pagination li.next {
background: none;
} 
ul.pagination li.previous.disabled, ul.pagination li.disabled {
cursor: default;
opacity: 0.3;
} .text-grey {
	color: #333;
}
.blog-publish-info {
	margin:10px 0;
}
.blogs-container {
	display: flex;
}
.blogs-wrap img, .blogs-wrap img{
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 15px;
	max-width: 100%;
}
.blogs-wrap img.img-center, .blogs-wrap img.img-center {
    width: auto;
	height: auto;
	max-width: 100%;
}
.blogs-wrap p > img {
	margin-top: 15px;
	margin-bottom: 15px;
}
.blogs-wrap h2 {
	margin-top: 0;
	margin-bottom: 5px;
}
.blogs-wrap h6 {
	font-size: 12px;
	color: #ccc;
}
.blog-details-title {
	font-weight: normal;
	color: #333;
}
.blog-details-title span {
	color: #dc2214;
	font-weight: bold;
}
.blogs-wrap h4 {
	color: #dc2214;
}
.blogs-wrap ul {
	margin: 0 0 0 15px;
	padding: 0;
}
.blogs-wrap p {
	line-height: 24px;
}
.blogs-wrap ul, .blogs-wrap ol {
margin: 0;
padding-left:0;
list-style-position: inside;
}
.blogs-wrap ul li, .blogs-wrap ol li {
	padding: 5px 0;
	line-height: 24px;
}
.realty-articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}
.img-center {
	display: block;
	margin: 0 auto;
}
.realty-toi1 {
	background: url('../../images/blogs/TOI1.png') no-repeat;
	width: 300px;
	height: 300px;
	background-size: contain;
}

.realty-toi2 {
	background: url('../../images/blogs/TOI2.jpg') no-repeat;
	width: 300px;
	height: 300px;
	background-size: contain;
}
img.blog-info-img {
	width: 300px !important;
}
.blog-list {
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	margin-bottom: 10px;
	clear: both;
	height:auto;
	overflow: hidden;
	display: flex;
}
.blog-description-wrap {
float:left;
	padding: 15px;
	width: calc(80% - 15px);
}
.blog-nav-link > * {
	font-size: 13px;
	line-height: 20px;
}
.blog-description h3 {
	margin-top: 0;
}
.blog-description a {
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}
.blog-otherInfo {
	color: #444;
	font-size: 11px;
	margin: 5px 0 0 0;
}
.blogs-wrap-left {
	width: 75%;
}
.blogs-home .container {
	max-width: unset;
	padding: 0;
}
.blogs-home .main-blog {
	width: 100%;
	float: none;
	padding: 0;
	box-shadow: none;
}
.main-blog .blog-list img{
    width: 150px;
    height: inherit;
	float: left;
	margin: 2px;
}
.main-blog {
	float: left;
	width: 70%;
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	padding: 15px;
}
.main-blog .blog-list .blog-description-wrap {
width: calc(100% - 150px);
}
.blog-title-outer {
	display: flex;
	align-items: baseline;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.blog-title-outer h3 {
	max-width: 80%;
}
.blog-title-outer > * {
	margin: 0;
}
.blog-title-outer p {
	margin-left: auto;
}
.main-blog .blog-list p {
	    line-height: 19px;
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 10px;
}
.blogs-nav {
	float: right;
	width: 30%;
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	padding: 15px;
	margin-left: 15px;
}
.blogs-nav-blocks {
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	padding: 15px;
	margin-bottom: 15px;
}
.blogs-nav-blocks h3 {
	margin-top: 0;
}
.search-blog {
	width: 100%;
	background-color: #ddd;
	border: 0;
	margin-bottom: 0;
}
.blogs-archive {
	margin: 0;
	padding: 0;
}
.blogs-archive li {
	padding: 0 0 10px 0;
	font-weight: bold;
	cursor: pointer;
	list-style: none;
}
.blogs-recent {
	margin-bottom: 10px;
}
.blogs-recent a {
	text-decoration: none;
}
.search-icon {
	 position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-decoration: none;
    border-left: 1px solid #ccc;
    display: inline-block;
    height: 47px;
	text-align: center;
	cursor:pointer;
}
.search-icon:before {
	content: "\ed11";
	font-family: "IcoFont";
	color: #333;
	font-size: 21px;
	line-height: 42px;
}
.blogs-spacer {
	margin-top: 15px;
}
.mobile-search {
	display: none;
}
.search-nav {
	display: block;
}
.blog-comment {
	width: 75%;
}
@media all and (max-width: 767px){
	.blog-comment {
		width:100%;
	}
	.blog-list {
		flex-direction: column;
	}
	.main-blog .blog-list img {
		width: 100%;
		height: auto;
	}
	.main-blog .blog-list .blog-description-wrap {
		width: calc(100% - 30px);
		margin: 10px 0 0 0;
	}
}
@media all and (max-width: 1024px) and (orientation:portrait) {
	.blog-otherInfo {
		display: block;
		margin-top: 5px;
	}
	.blog-title-outer h3 {
		max-width: 100%;
		width: 100%;
	}
	.blog-title-outer {
		flex-wrap: wrap;
	}
	.pagination {
		padding: 0;
		justify-content: center;
	}
	.blog-title-outer p {
		margin-top: 5px !important;
		margin-left: unset;
	}
	.main-blog-header {
		flex-direction: column;
	}
	.main-blog-header > div:last-child {
		margin-left: unset !important;
	}
	.mobile-search { display: block;margin-bottom: 15px;}
	.search-nav { display: none;}
	.blogs-container {
		flex-direction: column;
	}
.main-blog, .blogs-nav {
	width: unset;
	float: none;
	margin: 0;
	box-shadow: none;
	padding: 0;
}
.blogs-nav {
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.blogs-nav-blocks {
	padding: 0;
	box-shadow: none;
}
}
.note-text{
	    position: relative;
    padding-top: 25px !important;
    margin-top: 10px;
}
.note-text:before {
	content: "Points to be noted - ";
    color: #dc2214;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 10px;
	display: block;
	font-weight: bold;
}
ul.blogs-tags {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.blogs-tag-link > * {
	    text-decoration: none;
    background: grey;
    padding: 2px 15px;
    margin-right: 6px;
    color: #fff;
    border-radius: 15px;
    text-transform: capitalize;
display: inline-block;
}
.addthis_toolbox > a > .at-icon-wrapper {
    width: 32px !important;
    height: 32px !important;
	border-radius: 15px;
	text-align: center;
}
.addthis_toolbox > a >.at-icon-wrapper > svg {
	width: 30px !important;
	height: 30px !important;
	line-height: 32px;
}
.main-blog-header {
	display: flex;
}
.main-blog-header > div:last-child {
	margin-left: auto;
}
.clap-icon:before {
	content:'';
	background: url('/images/clap.svg') no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}