.blogs-container {
	display: flex;
}
.blogs-wrap img, .blogs-wrap img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	margin-bottom: 15px;
}
.blogs-wrap h2 {
	margin-top: 0;
	margin-bottom: 5px;
}
.blogs-wrap h6 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 12px;
	color: #ccc;
}
.blogs-wrap h4 {
	color: green;
}
.blogs-wrap ul {
	margin: 0 0 0 15px;
	padding: 0;
}
.blogs-wrap ul li {
	padding: 5px 0;
}
.realty-articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}
.img-center {
	display: block;
	margin: 0 auto;
}
.img-center:hover {
	transform: scale(1.2);
	transition: transform .5s;
}
.realty-toi1 {
	background: url('../../images/blogs/TOI1.png') no-repeat;
	width: 300px;
	height: 300px;
	background-size: contain;
}
.realty-toi1:hover {
	transform: scale(1.5);
	transition: transform .5s;
}

.realty-toi2 {
	background: url('../../images/blogs/TOI2.jpg') no-repeat;
	width: 300px;
	height: 300px;
	background-size: contain;
}
.realty-toi2:hover {
	transform: scale(1.5);
	transition: transform .5s;
}
img.blog-info-img {
	width: 300px !important;
}
.blog-list {
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	padding: 15px;
	margin-bottom: 10px;
	clear: both;
	height:auto;
	overflow: hidden;
	display: flex;
}
.blog-description-wrap {
float:left;
	margin:0 0 5px 15px;
	width: calc(80% - 15px);
}
.blog-description {
	
	border-bottom: 1px solid #ccc;
}
.blog-description h3 {
	margin-top: 0;
}
.blog-description a {
	font-weight: bold;
	margin-left: 5px;
	display: inline-block;
	text-decoration: none;
}
.blog-otherInfo {
	color: #444;
	font-size: 11px;
	margin: 5px 0 0 0;
}
.blogs-wrap-left {
	width: 75%;
}
.blogs-home .container {
	max-width: unset;
	padding: 0;
}
.blogs-home .main-blog {
	width: 100%;
	float: none;
	padding: 0;
	box-shadow: none;
}
.main-blog .blog-list img{
    width: 20%;
    height: inherit;
    float: left;
}
.main-blog {
	float: left;
	width: 70%;
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	padding: 15px;
	margin-top: 15px;
}
.main-blog .blog-list .blog-description-wrap {
width: calc(80% - 15px);
}
.main-blog .blog-list p {
	    line-height: 19px;
    font-size: 12px;
}
.blogs-nav {
	float: right;
	width: 30%;
	margin-top: 15px;
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	padding: 15px;
	margin-left: 15px;
}
.blogs-nav-blocks {
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
	padding: 15px;
	margin-bottom: 15px;
}
.blogs-nav-blocks h3 {
	margin-top: 0;
}
.search-blog {
	width: 100%;
	background-color: #ddd;
	border: 0;
	margin-bottom: 0;
}
.blogs-archive {
	margin: 0;
	padding: 0;
}
.blogs-archive li {
	padding: 0 0 10px 0;
	font-weight: bold;
	cursor: pointer;
	list-style: none;
}
.blogs-recent {
	margin-bottom: 10px;
}
.blogs-recent a {
	text-decoration: none;
}
.search-icon {
	 position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-decoration: none;
    border-left: 1px solid #ccc;
    display: inline-block;
    height: 47px;
    text-align: center;
}
.search-icon:before {
	content: "\ed11";
	font-family: "IcoFont";
	color: #333;
	font-size: 21px;
	line-height: 42px;
}
.blogs-spacer {
	margin-top: 15px;
}
.mobile-search {
	display: none;
}
.search-nav {
	display: block;
}
@media all and (max-width: 767px){
	.blog-list {
		flex-direction: column;
	}
	.main-blog .blog-list img {
		width: 100%;
		height: 100px;
	}
	.main-blog .blog-list .blog-description-wrap {
		width: 100%;
		margin: 10px 0 0 0;
	}
}
@media all and (max-width: 1024px) and (orientation:portrait) {
	.mobile-search { display: block;margin-bottom: 15px;}
	.search-nav { display: none;}
	.blogs-container {
		flex-direction: column;
	}
.main-blog, .blogs-nav {
	width: unset;
	float: none;
	margin: 0;
	box-shadow: none;
	padding: 0;
}
.blogs-nav {
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.blogs-nav-blocks {
	padding: 0;
	box-shadow: none;
}
}