
.header-wrap {
position: fixed;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
    min-height: 80px;
    z-index: 100;
}
.header-layer {
    padding-bottom:15px;
    display: flex;
    align-items: center;
    
}
.sticky-header .droplet-logo {
    width: 120px;
    height: 40px;
    transition: width .2s, height .2s;
}
.droplet-logo {
    background: url('../../images/Droplet-Wealth-Advisor-Logo.png') no-repeat;
    width: 250px;
    height: 60px;
    background-size: contain;
}
.droplet-menu {
    display: none;
}
.header-layer > *:last-child{
    margin-left: auto;
}
.header-tabs {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    font-size: 14px;
}
.header-tabs .link {
    color: #333;
    padding: 10px;
}
.header-tabs .link.active, .header-tabs .link.active:before {
    color: #dc2214;
    background-color: gold;
    border-radius: 10px;
}
.header-tabs [class*="icon-"]:before {
    display: none;
}
@media all and (max-width: 1024px){
    .header-wrap {
min-height: 60px;
    }
    .header-wrap.sticky-top .header-tabs{
        top: 57px;
    }
    .header-layer  {
        align-items:flex-end;
    }
    .header-tabs {
        width: 220px;
        position: absolute;
        display: block;
        left: -265px;
        z-index: 150;
        top: 67px;
        background-color: #fff;
        height: calc(100vh - 60px); 
    transition: left 0.5s;
    box-shadow: 2px 2px 5px 0px rgba(51,51,51,1);
   }
   .header-tabs > li  {
       margin-left: 0;
       border-bottom: 1px solid #ccc;
   }
    .header-tabs > li > * {
        margin-left: 0 !important;
        display: block;
    }
    .header-tabs.slide-right {
        left: -40px;
        transition: left 0.5s;
    }
    .header-tabs [class*="icon-"]:before {
        display: inline-block;
    }
    .droplet-logo{
        width: 300px;
        height: 50px;
    }
    .droplet-menu {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }
    .droplet-menu:before {
        display: inline-block;
        content: "\efa2";
        font-size: 30px;
        font-family: 'icofont';
    }
    ul.services-list [class*="icon-"]:before{
      display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
}
    .services-list , .services-list.open{
    position: initial;
    width: inherit;
    left: 0;
    border-left: 0;
    border-right: 0;
    }
    .services-list > li > * {
        padding-left: 45px !important;
    }
    .services-list > li:last-child , .services-list.open > li:last-child {
        border-bottom: 0;
    }
    .header-tabs .link.active, .header-tabs .link.active:before {
    color: #000;
    background-color: transparent;
    border-radius: none;
}
}
.header-tabs > li > *{
text-decoration: none;
margin-left: 12px;
font-weight: bold;
}
.header-tabs > li.services-wrap{
    padding-bottom: 0;
    cursor: pointer;
}
.header-tabs > li.services-wrap .icon-services{
    border-bottom: 0;
    padding-bottom: 12px;
}
.header-tabs > li.services-wrap .icon-services.active{
    color: #333;
}
.icon-services.active.close, .icon-services.active.close:before {
    color: #333;
}

.header-container {
  display: flex; 
  width: 100%;
}
.header-container > *:last-child {
  margin-left: auto;
}
.services-wrap {
    position: relative;
}

ul.services-list{
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    margin-left: 5px;
    width: 150px;
    top: 45px;
    background-color: #fff;
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    border-color: #ccc;
    border-width: 0 1px 0 1px;
    border-style: solid;
}
 
.icon-services .active + ul.services-list, ul.services-list.open  {
    height: auto;
    z-index: 150;
    transition: max-height 1s;
    max-height: 150px;
    border-top: 1px solid #ccc;
}


ul.services-list > li > *{
    color: #333; 
}
ul.services-list > li > * {
    padding: 9px 6px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
ul.services-list > li > .active {
  color: #333;
  background: gold;
}
.connect-options [class*= "icon-"] {
    background: gold;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 0 5px;
    display: inline-block;

}
.connect-options [class*= "icon-"]:before {
    display: inline-block;
    font-size: 18px;
color:#333;
font-family:'icofont';
text-align: center;
line-height: 35px;
}
.connect-options .icon-call:before{
content: "\ec46";
}
.connect-options .icon-facebook:before{
     content: "\ed37";
}
.connect-options .icon-instagram:before{
     content: "\ed46";
}
.connect-options .icon-email:before{
    content:"\ef12";
}
.connect-options .icon-twitter:before {
    content: "\ed7a";
}
.connect-options .icon-linkedIn:before {
    content: "\ed4d";
}
.page-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    display: none;
}
.page-overlay.active {
    display: block;
    position: fixed;
    width: 100%;
}
.sticky-header {
    background-color: #fff;
    z-index: 100;
}
.sticky-header .ul.services-list.open {
    top: 36px;
}