.slick-slide {
  height: calc(100vh - 145px) !important;
}
.slick-slide img {
 height:100%;
  width: 100%;
}
.slick-prev {
  left: 5px !important;
  z-index: 10;
}
.slick-next {
  right: 5px !important;
}
.slick-dots {
  bottom: 20px !important;
}
.image-text {
  position: absolute;
  top: 50%;
  max-width: 1280px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s linear;
  transform: translateY(-50%);
  left: 40px;
}
.image-text ul {
  padding-left: 0;
  color: #fff;
  list-style-type: none;
}
.image-text ul li {
  padding-bottom: 10px;
  line-height: 18px;
  font-size: 16px;
}
.slick-active .image-text {
opacity: 1;
transition: opacity 1s linear;
}
.image-text > div {
  padding-left: 10px;
  max-width: 60%;
}
.image-text h1 {
  color: #fff;
  font-weight: normal;
}
.image-text p {
  color: #fff;
  font-size: 18px;
}
@media all and (max-width: 767px) {
  .slick-slide {
    height: auto !important;
  }
  .slick-slide img {
 height:auto;
  width: 100%;
}

.image-text {
    display: none;
}
.image-text-mobile {
    display: block;
    position: absolute;
  top: 50%;
  max-width: 35%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 1s linear;
  transform: translateY(-50%);
  left: 40px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  color: white;
}

}
@media all and (max-width: 1024px) and (orientation:portrait) {
  .image-text p {
    font-size: 14px;
    max-width: 300px;
  }
  .image-text > div {
    padding-left: 25px;
  }
 
}
