.droplet-home-banner {
    height: 350px;
    width: 100%;
}
.droplet-home-banner > img {
     width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}
.droplet-value-list {
    height: 450px;
    width: 100%;
    position: relative;
}
.droplet-value-list img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}
.droplet-value .slider.animated {
    padding: 0 !important;
}
.droplet-value .carousel .slide {
    background: transparent;
}
.droplet-value {
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -90px;
    color: #fff;
    font-size: 26px;
    font-style: italic;
    line-height: 32px;
}
.droplet-value p {
    text-align: left;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
}
.droplet-image-trust {
    background: url('../../images/resizeimage.jpg') no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
    display: table;
    width: 100%;
}
.droplet-image-trust > div {
    color: gold;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}
.quote-by {
    color: #fff;
    font-size: 18px;
}
.droplet-image-discipline {
    background: url('../../images/Droplet-Banner-02.jpg') no-repeat;
    background-size: contain;
    height: 200px;
}

.droplet-image-longitivity {
    background: url('../../images/Droplet-Banner-03.jpg') no-repeat;
    background-size: contain;
    height: 200px;
}
.services-bg {
    background: url('../../images/droplet-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    position: relative;
    background-attachment: fixed;
}
.services-bg:after {
    content:'';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
    opacity: 0.85;
    width: 100%;
    height: 100%;
}
.services-bg .container {
    position: relative;
    z-index: 10;
}
.services-list-block {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.services-list-block > li {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
padding: 10px;
margin: 0  10px;
width: calc( 100% / 3);
min-height: 150px;
}
.droplet-team {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.team {
        background: gold;
    width: 150px;
    height: 150px;
    /* border-radius: 50px; */
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
    position: relative;
}
.team:after {
    content: attr(data-name);
    position: absolute;
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
}
.planning-bg {
    background: url('../../images/Droplet-Banner-01.jpg') no-repeat;
    width: auto;
    height: 150px;
    background-size: cover;
    background-position: center;
}
.droplet-overview {
    position: relative;
    z-index: 60;
    padding: 15px;
}
h1, h2, h3 {
    color: red;
}
@media all and (max-width: 767px) {
    .droplet-value p {
    font-size: 15px;
    line-height: 18px;
} 
.droplet-home-banner {
    height: 200px;
    width: 100%;
}
.droplet-value {
    margin-top: -55px;
    left: 15px;
}
}