.droplet-home-banner {
    height: 350px;
    width: 100%;
}
.droplet-home-banner > img {
     width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}
.droplet-value-list {
    height: 450px;
    width: 100%;
    position: relative;
}
.slider > li:nth-child(odd) p {
    margin-left: -500px;
}

.slider > li:nth-child(even) p{
    margin-top: -500px;
}
.slider li.selected:nth-child(odd) p{
    margin-left: 10px;
    transition:  margin-left .5s
}
.slider li.selected:nth-child(even) p {
    margin-top: 5px;
    
    transition: margin-top .5s
}
.slide {
    opacity: 0;
}
.slide.selected {
    opacity: 1;
}
.droplet-value-list img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}
.droplet-value .slider.animated {
    padding: 0 !important;
}
.droplet-value .carousel .slide {
    background: transparent;
}
.droplet-value {
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -90px;
    color: #fff;
    font-size: 26px;
    font-style: italic;
    line-height: 32px;
}
.droplet-value p {
    text-align: left;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
}
.droplet-image-trust {
    background: url('../../images/resizeimage.jpg') no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
    display: table;
    width: 100%;
}
.droplet-image-trust > div {
    color: gold;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}
.quote-by {
    color: #fff;
    font-size: 18px;
}
.droplet-image-discipline {
    background: url('../../images/Droplet-Banner-02.jpg') no-repeat;
    background-size: contain;
    height: 200px;
}

.droplet-image-longitivity {
    background: url('../../images/Droplet-Banner-03.jpg') no-repeat;
    background-size: contain;
    height: 200px;
}
.services-bg {
    background: url('../../images/piggy-bank.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    position: relative;
    background-attachment: fixed;
}
.services-bg:after {
    content:'';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
    opacity: 0.85;
    width: 100%;
    height: 100%;
}
.services-bg .container {
    position: relative;
    z-index: 10;
}
.services-list-block {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.services-list-block > li {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
padding: 10px;
margin: 0  10px;
width: calc( 100% / 3);
height: 150px;
position: relative;
transform-style: preserve-3d;
transform-origin: left;
backface-visibility: hidden;
}
.services-brief {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #fff;
    width: calc(100% - 30px);
    height: calc(100% - 30px) !important;
display: flex;
flex-direction: column;
height: inherit;
align-items: center;
justify-content: center;
z-index: 10;
}
.services-block-inner {
    position: relative;
    z-index: 20;
display: flex;
flex-direction: column;
height: inherit;
align-items: center;
justify-content: center;
background: #fff;
transform: rotateY(0deg);
backface-visibility: hidden;
    transition: transform 1s, opacity 1.5s;

}
.services-block-inner.flip {
        transform: rotateY(-180deg);
    transition: transform 1s;
    transition: transform 1s, opacity 1.5s;
     opacity: 0; 
    transform-origin: right;
    z-index: 1;
}
.services-brief {
    backface-visibility: hidden;

}
.droplet-team {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.planning-bg {
    background: url('../../images/Droplet-Banner-01.jpg') no-repeat;
    width: auto;
    height: 150px;
    background-size: cover;
    background-position: center;
}
.droplet-overview {
    position: relative;
    z-index: 60;
    padding: 15px;
}
h1, h2, h3 {
    color: #dc2214;
}
.financial-planning-icon{
    background: url('../../images/fin-plan.png') no-repeat;
    width: 90px;
    height: 90px;
    background-size: contain;
    margin-bottom: 5px;
}
.mf-icon {
    background: url('../../images/mutual-fund.png') no-repeat;
    width: 90px;
    height: 90px;
    background-size: contain;
    margin-bottom: 5px;
}
.insurance-icon {
    background: url('../../images/insurance-icon.png') no-repeat;
    width: 90px;
    height: 90px;
    background-size: contain;
    margin-bottom: 5px;
}
@media all and (max-width: 767px) {
    .blogs-home > .blog-list {
    width: calc((100% - 20px) / 2);
}
    .droplet-value p {
    font-size: 15px;
    line-height: 18px;
} 
.droplet-home-banner {
    height: 200px;
    width: 100%;
}
.droplet-value {
    margin-top: -55px;
    left: 15px;
}
}
.scene {
  height: 250px;
  perspective: 35%;
  display: flex;
  justify-content: center;

}

.card {
  width: 25%;
  height: 100%;
  margin: 0 10px;
  transition: transform .75s;
  transform-style: preserve-3d;
  transform: translateZ(0);
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #333;
  text-align: center;
  font-weight: bold;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
  border-radius: 10px;
}
.services-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 47px);
}
.services-title {
    background-color: #f34d4d;
    padding: 15px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ccc;
    margin: 0;
    color: #fff;
}
.card__face h3 {margin-top: 5px;color:#333;}
.card__face--front {
  background: transparent;
}
.card__face--back {
  background: #f34d4d;
  transform: rotateY(180deg);
  color: #fff;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  transition-delay: 0s;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card__face--back p {
    line-height: 22px;
    padding: 0 10px;
    font-weight: normal;
}

.card__face--back .btn {
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
}
.services-overview {
    backface-visibility: hidden;
}


.slider {
  position: relative;
  height: 250px;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
img.slide1, img.slide2, img.slide3 {
    position: unset;
    height: auto;
}
img.slide1 {
animation:fadeImg 12s infinite;
-webkit-animation:fadeImg 12s infinite;
}
img.slide2 {
    animation:fadeImg2 12s infinite;
-webkit-animation:fadeImg2 12s infinite;
animation-delay: 24s;
}
img.slide3 {
    animation:fadeImg3 12s infinite;
-webkit-animation:fadeImg3 12s infinite;
animation-delay: 36s;
}
.slide1 {
      background-size: cover;
    animation:fade 12s infinite;
-webkit-animation:fade 12s infinite;

} 
.slide2 {
      background-size: cover;
    animation:fade2 12s infinite;
-webkit-animation:fade2 12s infinite;
}
.slide3 {
      background-size: cover;
    animation:fade3 12s infinite;
-webkit-animation:fade3 12s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.33% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
@keyframes fadeImg
{
  0%   {opacity:1;}
  33.333% { opacity: 0.3;}
  66.666% { opacity: 0.5;}
  100% { opacity: 1;}
}
@keyframes fadeImg2
{
  0%   {opacity:0.3;}
  33.333% { opacity: 1;}
  66.666% { opacity: 0.5;}
  100% { opacity: 0.3;}
}
@keyframes fadeImg3
{
  0%   {opacity:0.3;}
  33.333% { opacity: 0.5;}
  66.666% { opacity: 1;}
  100% { opacity: 0.3;}
}
.blogs-home {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.blogs-home > .blog-list {
        width: calc((100% - 30px) / 3);
    margin: 0 5px 15px 5px;
    padding: 0;
    position: relative;
}
.blogs-home > .blog-list img {
        width: 100%;
    height: 150px;
    float: none;
    object-fit: cover;
    margin-bottom: 12px;
}
.blogs-home .blog-description-wrap {
    width: calc(100% - 30px);
    float: none;
    text-align: left;
}
.bg-gold {
    background-color: gold;
}
.bg-green {
    background: #518851;
}
.bg-violet {
    background-color: #752288;
}
.slider-bg-images {
    display: flex;
    flex-wrap: wrap;
}
.slider-bg-images > img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.3;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(2px 4px 6px black) grayscale(500%);
    position: absolute;
    top: 0;
    left: 0;
}
.slider-content {
        position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 400px;
    height: 100%;
    transform: skew(-43deg);
}
.slider-content > div {
    transform: skew(43deg);    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider-content p {
    line-height: 23px;
    font-size:16px;
    font-weight: bold;
    padding-left: 10px;
    margin:5px 0;
}
.slider-content h2 {
    margin:0 0 5px 0;
}
.animated {
    padding-top: 0 !important;
}
h1 {
    line-height: 35px;
}

@media all and (max-width: 1024px) and (orientation: portrait){
    .scene {
        height: unset;
        flex-direction: column;
    }
    .card {
        height: 250px;
        width: 100%;
        margin-bottom: 15px;
        margin:0 0 15px 0;
    }
    .blogs-home > .blog-list {
    width: 100%;
}
.slider-content {
    width: 300px;
}
.slider-content p {
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    margin: 5px 0;
    padding-right: 15px;
}
.slider-bg-images > img {
    min-height: 70px;
}
}
@media all and (max-width: 1024px)  and (orientation: landscape){
    .blogs-home > .blog-list {
    width: calc((100% - 20px) / 2);
}
}