/* montserrat-regular - latin */
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  
body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 55px 0;
  color: #000;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p { line-height: 22px;}
.container {
  margin: 0 auto;
  padding:15px;
  max-width: 1280px;
}

.border-bottom-grey {
  border-bottom: 1px solid #ccc;
}
.border-none {
  border: 0 !important;
}
.text-center {
  text-align: center;
}
.row {
  width: 100%;
  clear: both;
}
.row:after {
  content:'';
  clear:both;
  margin-bottom: 15px;
  display: block;
}
.cols-2 > * {
width: calc(100% /2 - 10px);
float:left;
}
.cols-2 > *:last-child {
  float: right;
}

.p-100 {
  width: 100%;
}
input[type="text"], input[type="tel"], input[type="email"]{
  margin-bottom: 5px;
  border: 0;
 padding:15px 0 15px 5px;
  border-bottom: 1px solid #ccc;
}
input.error {
  color: red;
  border-bottom-color: red;
}
input.error + label, input.error + label + .error-text {
  display: block;
  color: red
}
.error-text{
    z-index: 20;
    font-size: 12px;
    padding-left: 5px;
    color: red;
    display: none;
}
label { font-weight: bold;}
.relative {
  position: relative;
}
.animate-label {
position: absolute;
left: 5px;
top: 15px;
font-size: 14px;
color: #333;
}
input:focus {
  outline: none;
}
.animated-label {
  padding: 25px 5px 5px 5px;
}
.field-animated {
  padding:25px 5px 5px 5px !important;
}
.field-animated + label {
  top: 5px;
  transition: top 0.3s;
  font-size: 12px;
}
.field-animated.set-default {
  padding:15px 5px;
}
.field-animated.set-default + label {
  top: 15px;
  transition: top 0.3s;
}
 .animated-label + label {
  font-size: 12px;
  top:5px;
  transition: top 0.3s;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.ul-reset {
  margin: 0;
  padding:0;
  list-style: none;
}
.underline {
  text-decoration: underline;
}
.header-tabs [class*="icon-"]:before{
    color: #ccc;
  font-size: 25px;
  font-family: 'icofont';
  display: inline-block;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}
.icon-home:before {
  content: "\ef47";
}
.icon-team:before {
content: "\ecf4";
}
.icon-services:before {
  content: "\efe1";
}

.icon-services:after {
  content: "\ea67";
  display: inline-block;
  font-family:'icofont';
  margin-right: 3px;
}
.icon-services.close:after {
  transform: scaleY(-1);
}
.icon-blog::before{
content: "\ec57";
}
.icon-connect:before {
content: "\ec46";
}
.btn {
  background-color: gold;
  padding: 15px;
  font-weight: bold;
  color: #333;
  outline: none;
  border: 0;
  border-radius: 18px;
  font-family: 'Open Sans';
  min-width: 100px;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
.btn[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
[class*="icon-"] > *, [class*= "icofont-"] > * {
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  background-color: #333;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 61;
}

.icon-insurance:before {
  content:'';
  background: url('images/planning.svg') no-repeat;
}
.icon-mf:before {
content:'';
background: url('images/mf.svg') no-repeat;
}
.icon-planning:before {
  content:'';
background: url('images/insurance.svg') no-repeat;
}
.bottom-spacer {
  margin-bottom: 15px;
}
.section-title:before {
content:'';
width: 25px;
border-bottom: 2px solid #dc2214;
display: inline-block;
vertical-align: middle;
margin-right: 10px;;
}
.section-title:after {
  content:'';
width: 25px;
border-bottom: 2px solid #dc2214;
display: inline-block;
vertical-align: middle;
margin-left: 10px;
}